{% extends 'header.html' %}

{% block body %}

<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#pythonbasics" aria-controls="pythonbasics" role="tab" data-toggle="tab">Python Basics</a></li>
		<li role="presentation"><a href="#webdevelopment" aria-controls="webdevelopment" role="tab" data-toggle="tab">Web Development</a></li>
		<li role="presentation"><a href="#dataanalysis" aria-controls="dataanalysis" role="tab" data-toggle="tab">Data Analysis</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="pythonbasics">
			<ul>

{% for topic in topics_dict['Python Basics'] %}
				<li><a href="{{ topic[1] }}">{{ topic[0] }}</a></li>
{% endfor %}

			</ul>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="webdevelopment">Web Development content...</div>
		<div role="tabpanel" class="tab-pane fade" id="dataanalysis">Data Analysis content...</div>
	</div>

{% if user %}
	<a href="/private/">
		<button type="button" class="btn btn-success">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ user }}
		</button>
	</a>
{% endif %}

</div>

{% endblock %}