{% extends 'header.html' %}

{% block body %}

<h1 align="center">Python3+Flask+AWS by BLITZ !!!</h1>
<div class="container" align="center" style="height:80%">
	<a href="/dashboard/">
		<video autoplay="autoplay" muted="muted" poster="/static/images/python-programming-tutorials-main.png" style="width:100%; max-height:80%" >
			<source src="/static/videos/python-programming-tutorials-main.mp4" type="video/mp4" type="video/mp4">
			<source src="/static/videos/python-programming-tutorials-main.webm" type="video/webm">
		</video>
	</a>
</div>

{% endblock %}