{% extends 'header.html' %}

{% block body %}

<div class="container">
	<h3>Which is the best programming language of all time?</h3>
	<input type="text" size=5 name="proglang">
	<a href="#" id="process_input" class="btn btn-default">Submit</a>
	<p id="result">...</p>
	<input type="text" size=5 name="proglang_js">
	<a href="#" id="process_input_js" class="btn btn-default">Submit</a>
	<p id="result_js">...</p>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	$('#process_input').bind('click', function() {
		$.getJSON(
			'{{ root_path }}/_background_process/',
			{"proglang":$('input[name="proglang"').val(),},
			function(data){$('#result').text(data.answer)}
		);
	});
	$('#process_input_js').click(function() {
		if($('input[name="proglang_js"').val().toLowerCase()=='python'){
			 $("#result_js").text('Your are wise! (js)');
		}
		else{
			 $("#result_js").text('Try again (js)');
		}
	});
</script>

{% endblock %}