{% extends 'header.html' %}

{% block body %}

<div class="container">
	<h1>Part 2</h1>
	<br>
	<h4>
		<a href="{{ root_path }}/includes/" class="btn btn-default" target="blank" >Includes</a>
		<br>
		<a href="{{ root_path }}/jinja/" class="btn btn-success" target="blank" >Jinja</a>
		<br>
		URL converters
		<a href="{{ root_path }}/converters1/">int</a>,
		<a href="{{ root_path }}/converters2/">path</a>,
		<a href="{{ root_path }}/converters3/">multi</a>
		<br>
		<a href="{{ root_path }}/send_mail/" class="btn btn-danger" target="blank" >Mail</a>
		<br>
		<a href="{{ root_path }}/file_send/" target="blank"><button class="btn btn-info">Send file</button></a>
		<br>
		<a href="{{ root_path }}/protected/" class="btn btn-danger btn-lg" target="blank">Protected file</a>
		<br>
		<a href="{{ root_path }}/interactive/" class="btn btn-warning active" target="blank">interactive</a>
		<br>
	</h4>
</div>

{% endblock %}