{% extends 'header.html' %}

{% block body %}

<body>
	<div class="container">
		<br>
		<h4>Please Register:</h3>
		<br>
		<form action="{{ root_path }}/register/" method="post">
			<dl>
				{{ render_field(form.user_name) }}
				{{ render_field(form.user_email) }}
				{{ render_field(form.user_password) }}
				{{ render_field(form.confirm_password) }}
				{{ render_field(form.accept_tos) }}
			</dl>
			<input type="submit" class="btn btn-primary" name="submit" value="Join!">
		</form>
	</div>
</body>

{% endblock %}

{% macro render_field(field) %}
<dt>{{ field.label }}</dt>
<dd>{{ field(**kwargs)|safe }}
	{% if field.errors %}
	<ul class='errors'>
		{% for error in field.errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
</dd>
{% endmacro %}
