{% extends 'header.html' %}

{% block body %}

<div class="container">
	{% for d in data %}
	<p>{{ d }}</p>
	{% endfor %}
	<p>==============Jinja magic!===========</p>
	<p>str to int : {{ data[1]|int*2 }}</p>
	<p>replace : {{ data[2]|replace('good', 'AWESOME!!') }} </p>
	<p>split :
		<ul>
	{% for lang in data[3].split(',') %}
			<li>{{ lang }}</li>
	{% endfor %}
		</ul>
	</p>
	{{ data[4]|safe }}
	<p>macro : {{ input('username') }}</p>
	<p>macro : {{ input('password', type='password', size=50) }}</p>
</div>

{% endblock %}

{% macro input(name, value='', type='text', size=20) -%}

	<input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}">

{%- endmacro %}