{% extends 'header.html' %}

{% block body %}


<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
{% for key in topics_dict %}
		<li role="presentation"><a href="#{{ key.replace(' ', '').replace('(', '').replace(')', '') }}" aria-controls="{{ key }}" role="tab" data-toggle="tab">{{ key }}</a></li>
{% endfor %}
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
{% for key in topics_dict %}
		<div role="tabpanel" class="tab-pane fade in active" id="{{ key.replace(' ', '').replace('(', '').replace(')', '') }}">
			<ul>
{% for topic in topics_dict[key] %}
				<li><a href="{{ root_path + topic[1] }}">{{ topic[0] }}</a></li>
{% endfor %}
			</ul>
		</div>
{% endfor %}
	</div>

</div>

{% endblock %}