{% extends "music/base.html" %}

{% block head %}
    <title>Album details</title>
{% endblock %}

{% block body %}

    <img src="{{ album.logo.url }}">

    <h1>{{ album.title }}</h1>
    <h3>{{ album.artist }}</h3>
    <p>{{ album.genre }}, {{ album.date }}</p>

    {% for song in album.song_set.all %}
        {{ song.title }}
        {% if song.is_favorite %}
        <img src="http://findicons.com/files/icons/1665/sweetie_basepack/16/16_star_hot.png">
        {% endif %}<br>
    {% endfor %}

{% endblock %}