{% extends "music/base.html" %}

{% block head %}
    <title>Album list</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        {% for album in albums %} {# default = object_list, album_list #}
        <div class="col-sm-4 col-lg-2 thumbnail">
            <a href="{% url 'music:detail' album.pk %}">
                <img src="{{ album.logo }}" class="img-responsive">
            </a>
            <div class="caption">
                <h3>{{ album.title }}</h3>
                <p>{{ album.artist }}</p>
                <a href="{% url 'music:detail' album.pk %}" class="btn btn-primary">Details</a>
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-star"></span></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}