{% extends "music/base.html" %}

{% block head %}
    <title>Album list</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        {% for album in albums %} {# default = object_list, album_list #}
        <div class="col-sm-4 col-lg-2 thumbnail">
            <a href="{% url 'music:detail' album.pk %}">
                <img src="{{ album.logo.url }}" class="img-responsive">
            </a>
            <div class="caption">
                <h3>{{ album.title }}</h3>
                <p>{{ album.artist }}</p>
                <a href="{% url 'music:update_album' album.pk %}" class="btn btn-primary">Edit</a>
                <form action="{% url 'music:delete_album' album.pk %}" style="display: inline;" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="album_pk" value="{{ album.pk }}">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-trash"></button>
                </form>
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-star"></span></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}