{% extends "music/base.html" %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <h3>Create a new Account</h3>
    <form action="" method="post" class="form-horizontal col-sm-12" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "music/form_template.html" %}
        <div class="form-group">
            <input type="submit" class="btn btn-success col-sm-offset-1 col-sm-2" value="Add">
        </div>
    </form>
</div>

{% endblock %}